# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# Google Service Account
google-service-account.json
dnanir-app-e69e13cbbdc0.json
client_secret_*.json
client_secret_147402049587-dljhq9jujabgin7i2k5luvburievj491.apps.googleusercontent.com.json
client_secret_147402049587-ibchdhqjf2m8lo4k1ivdc2pfsds7kd8q.apps.googleusercontent.com.json
client_secret_147402049587-ed1u349b6sap5v6f4b7j3s0qb4qbahq1.apps.googleusercontent.com.json
google-services.json
GoogleService-Info.plist
